*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}

li, a, button {
  font-family: 'Franklin Gothic Medium';
  font-weight: 500;
  font-size: 13px;
  color: aliceblue;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
  background: #440246de;
}
.logo {
  cursor: pointer;
}
.nav_links {
  list-style: none;
}
.nav_links li{
  display: inline-block;
  padding: 0px 20px;
}
.nav_links li a {
  transition: all 0.3s ease 0s;
}
.nav_links li a:hover {
  color: rgb(195, 132, 7);
}
button {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
button:hover {
  color: #45a049;
}

@media screen and (max-width: 633px) {
  header {
    background-color: rgb(172, 144, 238);
    display: flex;
    flex-direction: column;
    padding: 10px;
  }
  .nav_links li{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 0px 20px;
}
button {
  padding: 5px;
  background-color: hsl(221, 86%, 36%);
  cursor: pointer;
  border-radius: 20px;
  transition: all 0.3s ease 0s;
}
}

.hero-section {
  background-image: url(/images/Lif.jpg);
  background-color: #d71f1f;
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(0, 0, 0);
}
.slider{
  display: flex;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 30px;
  background: #540257b8;
}
.slide{
  display: inline-block;
  justify-content: space-evenly;
  padding: 20px;
}
.slider-tracker h2{
  display: flex;
  justify-content: center;
  padding-bottom: 5px;
  color: #ffffff;
}
@media  screen and (max-width: 478px) {
  .slider{
    display: block;
    justify-content: center;
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 30px;
    background-color: rgb(172, 144, 238);
  }
  .slide{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
  }
  .slider-tracker h2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 5px;
    align-items: center;
    color: #ffffff;
  }
}
h3 {
  display: flex;
  justify-content: center;
  padding: 15px ;
}
.card-container{ 
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background: #ffffff;
  padding: 10px;
}
.card-container h1 {
  display: flex;
  justify-content: center;
}
.card {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background: #440246de;
  box-shadow: 0px 2px 4px rgb(0, 0, 0, 0.3);
  overflow: hidden;
  width: 330px;
  border-radius: 10px;
}
.card img {
  width: 100%;
  object-fit:cover;
}
.card-content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.card-container p{
  display: flex;
  justify-content: center;
  color: #ffffff;
  padding: 5px;
  align-content: center;
}
.card-container a{
  color: rgba(41, 141, 222, 0.469);
}
@media screen and (max-width: 520px) {
  h3 {
    display: flex;
    justify-content: center;
    padding: 15px ;
  }
  .card-container{ 
    display: block;
    justify-content: center;
    flex-direction: column;
    background: #ffffff;
    padding: 40px;
  }
  .card-content {
    display: block;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
  }
}
.Vision {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background: #440246de;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 20px;
}
.form {
  box-sizing: border-box;
  background-color: antiquewhite;
  padding: 10px;
}
input[type=text], select, textarea {
  display: flex;
  justify-content: center;
  padding: 12px;
  width: 50%;
  margin-top: 6px;
  margin-bottom: 16px;
}
form {
  margin: auto;
  width: 50%;
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}
.container {
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
  border-radius: 5px;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
}
.footer {
  margin-top: 30px;
  padding-top: 30px;
}
footer {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

footer{
  background: #440246de;
  margin-left: auto;
  margin-right: auto;
}
.copyright {
  margin: 30px;
  padding: auto;
}
.container img {
  padding-right: 20px;
  width: 400px;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}
footer, img {
  padding-left: 50px;
}
ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  margin-right: 20px;
}